# Set the default behavior to automatically normalize line endings.
* text=auto

# Explicitly declare text files you want to always normalize and convert to native line endings on checkout.
*.c text
*.h text
*.cpp text
*.hpp text
*.cs text
*.java text
*.js text
*.jsx text
*.ts text
*.tsx text
*.json text
*.css text
*.scss text
*.html text
*.md text
*.xml text
*.yml text
*.yaml text

# Declare files that will always have CRLF line endings on checkout.
*.bat text eol=crlf

# Declare files that will always have LF line endings on checkout.
*.sh text eol=lf
*.bash text eol=lf

# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.lock binary
